
@font-face{
	font-family:"gobold-thin";
	src: url('../fonts/Gobold Thin.ttf') format('truetype');
}

.gobold-thin{
	font-family:"gobold-thin";
}

@font-face{
	font-family: "brush";
	src: url('../fonts/LEVIBRUSH.ttf') format('truetype');
}

.brush-font{
	font-family: "brush";
}