header{
	text-align:center;
	background-color: white;
	color:black;
	height:200px;
	text-transform:uppercase;

	a{
		color:black;
	}

	a:hover{
		color:#ada8a4;
	}

	h2{
		@extend .gobold-thin;
		font-size:30px;

	}

}

.logo{
	position:absolute;
	left:50%;
	margin:1.5em auto 1.2em -120px;
	z-index:1;
	display:inline-block;
	
}

.nav-button{
	position:relative;
	margin: 60px 30px 0 0;
	font-size:24px;
	float:left;
	display:inline-block;
	cursor: pointer;

	&:hover{
		.submenu{
			visibility: visible;
			opacity:1;
		}
	}  
}



.submenu{
	position:absolute;
	margin:0 0;
	text-transform: uppercase;
	text-align: center;
	list-style: none;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease;
	@extend .gobold-thin;
	font-size:22px;

	li{
		padding:5px 0 0 0;
		/*visibility: hidden;*/
	}
}


.signin{
	margin: 60px 0 0 0;
	font-size:24px;
	float:right;
}

