
/* GENERAL LAYOUT / HOMEPAGE */

body{
font-size:24px;	
}

.home{
	height:400px;
	margin-top: 60px;
}		

.pic{
	height:547px;	
	position:relative;
	width:100%;
}


.picture{
	@extend .pic;
	background-image: url("../images/coats.png");
}

.picture2{
	@extend .pic;
	background-image: url("../images/shirts.png");
}

.picture3{
	@extend .pic;
	background-image: url("../images/shoes.png");
}

section{
	margin-top: 20px;
	text-transform: uppercase;

	a, a:hover {
	color:white;
	}

}

.home span {
    position:absolute;
    left:50%;
	top:42%;
	font-size:55px;
    margin-left: -78.5px;
    font-family: "brush";
}


