@font-face {
  font-family: "gobold";
  src: url("../fonts/Gobold.ttf") format("truetype"); }
@font-face {
  font-family: "gobold-thin";
  src: url("../fonts/Gobold Thin.ttf") format("truetype"); }
@font-face {
  font-family: "brush";
  src: url("../fonts/LEVIBRUSH.ttf") format("truetype"); }
body, h3, h4 {
  font-family: "gobold-thin"; }

header {
  text-align: center;
  background-color: white;
  color: black;
  height: 150px; }
  header a {
    color: black; }
  header a:hover {
    color: #ada8a4; }

.logo {
  position: absolute;
  left: 50%;
  margin: 1.5em auto 1.2em -120px;
  z-index: 1;
  display: inline-block; }

.shopwrapper {
  position: relative;
  margin: 60px 30px 0 0;
  font-size: 24px;
  float: left;
  display: inline-block;
  cursor: pointer; }
  .shopwrapper:hover .submenu {
    visibility: visible;
    opacity: 1; }

.submenu {
  position: absolute;
  margin: 0 0;
  text-transform: uppercase;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease; }
  .submenu li {
    padding: 5px 0 0 0;
    /*visibility: hidden;*/ }

.signin {
  margin: 60px 0 0 0;
  font-size: 24px;
  float: right; }

.social {
  margin: 0 10px 0 10px; }

/* GENERAL LAYOUT / HOMEPAGE */
body {
  font-size: 24px; }

.home {
  height: 400px;
  margin-top: 60px; }

.pic, .picture, .picture2, .picture3 {
  height: 547px;
  position: relative;
  width: 100%; }

.picture {
  background-image: url("../images/coats.png"); }

.picture2 {
  background-image: url("../images/shirts.png"); }

.picture3 {
  background-image: url("../images/shoes.png"); }

section {
  margin-top: 20px;
  text-transform: uppercase; }
  section a, section a:hover {
    color: white; }

.home span {
  position: absolute;
  left: 50%;
  top: 42%;
  font-size: 55px;
  margin-left: -78.5px;
  font-family: "brush"; }

/*PRODUCT PAGE*/
.main-pic {
  height: 550px;
  width: 80%;
  /*background-image: url(../images/shirt.jpg);*/
  background-size: cover;
  float: left; }

.product {
  margin-top: 80px; }

.size {
  margin: 40px 0 40px 0; }

.size li {
  margin: 0 0; }

.quantity {
  width: 100px;
  margin: 0 0 40px 0;
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.quantity span, #counter {
  display: inline-block;
  width: 27px;
  border: none;
  text-align: center; }

.quantity .add, .quantity .sub {
  cursor: pointer; }

.share {
  display: inline-block;
  font-size: 24px;
  margin: 20px 0 0 0; }

.share img {
  height: 35px;
  width: auto;
  padding: 0 7px 0 7px; }

.share > span {
  font-weight: bold; }

@media screen and (max-width: 1440px) {
  h2 {
    margin: 0 0 0 0;
    font-size: 38px; }

  .info {
    position: absolute;
    right: 0;
    width: 70%;
    padding: 10px 20% 10px 0;
    height: 200px;
    color: black; }

  .info-opposite {
    position: relative;
    width: 70%;
    height: 200px;
    padding: 10px 0 10px 20%;
    color: black; }

  .info img {
    position: absolute;
    top: -60px;
    left: -280px;
    width: 270px;
    height: auto; }

  .info-opposite img {
    position: absolute;
    top: -60px;
    right: -280px;
    width: 270px;
    height: auto;
    z-index: 999; } }
@media screen and (max-width: 640px) {
  body {
    font-size: 24px; } }
/* CLOTHES PAGE */
.color-block {
  position: absolute;
  background-color: #E8B256;
  width: 70%;
  height: 200px;
  z-index: -23;
  right: 0; }

.opposite-side .color-block {
  left: 0%; }

.shirt {
  position: relative;
  width: 100%;
  margin: 90px 0 0 0;
  height: 200px;
  text-transform: lowercase;
  font-family: "gobold-thin"; }
  .shirt h2 {
    margin: 0 0 0 0;
    font-size: 48px; }
  .shirt p {
    margin: 0 0 10px 0; }

.op {
  position: absolute;
  top: -9px;
  right: -350px;
  height: 220px; }

.po {
  position: absolute;
  top: -10px;
  left: -350px;
  height: 220px; }

.info {
  position: absolute;
  right: 0;
  width: 60%;
  padding: 15px 20% 10px 0;
  height: 200px;
  color: black; }
  .info img {
    left: -310px; }

.info-opposite {
  position: relative;
  width: 60%;
  height: 200px;
  padding: 15px 0 10px 23%;
  color: black; }
  .info-opposite .shirtprice {
    font-size: 28px; }
  .info-opposite img {
    right: -310px;
    z-index: 999; }

.buy {
  position: absolute;
  transition: all .25s;
  font-size: 20px;
  padding: 0px 15px;
  margin: 3px 0 0 20px;
  color: white;
  border: 2px solid white; }

.buy-hover, .info:hover .buy, .info-opposite:hover .buy {
  background-color: black;
  border: 2px solid black;
  color: #E8B256; }

.info-img, .info img, .info-opposite img {
  position: absolute;
  top: -60px;
  width: 270px;
  height: auto; }

.page-description {
  width: 60%;
  margin: 60px auto 0 auto; }
  .page-description h1 {
    text-align: center; }
  .page-description h3 {
    text-align: center; }
  .page-description p {
    margin-top: 10px;
    text-align: center; }

.description, .price {
  text-align: center;
  font-weight: bold; }

section > h1 {
  text-transform: uppercase;
  text-align: center; }

footer {
  margin: 120px 0 20px 0;
  height: auto;
  font-size: 1px;
  text-align: center;
  font-size: 22px; }
  footer a {
    color: black; }
  footer a:hover {
    color: #ada8a4; }

.footer-details {
  text-align: center;
  margin: 10px 0 0 0; }
  .footer-details a {
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px; }

.social {
  margin: 20px 0 0 0; }
  .social img {
    height: 35px;
    width: auto;
    padding: 0 10px 0 10px; }

.copyright {
  margin-top: 20px; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

h1, h2 {
  font-family: "brush";
  font-weight: bold;
  text-transform: uppercase;
  /*font-family: "gobold-thin";*/ }

p {
  margin: 0 0 0 0; }

span {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
