@font-face {
  font-family: "gobold-thin";
  src: url("../fonts/Gobold Thin.ttf") format("truetype"); }
.gobold-thin, header h2, .submenu, .details, .details h1, .details h3, .page-description h3, .page-description p, .info h2, .info-right h2, .info-left h2, footer {
  font-family: "gobold-thin"; }

@font-face {
  font-family: "brush";
  src: url("../fonts/LEVIBRUSH.ttf") format("truetype"); }
.brush-font, .page-description h1 {
  font-family: "brush"; }

header {
  text-align: center;
  background-color: white;
  color: black;
  height: 200px;
  text-transform: uppercase; }
  header a {
    color: black; }
  header a:hover {
    color: #ada8a4; }
  header h2 {
    font-size: 30px; }

.logo {
  position: absolute;
  left: 50%;
  margin: 1.5em auto 1.2em -120px;
  z-index: 1;
  display: inline-block; }

.nav-button {
  position: relative;
  margin: 60px 30px 0 0;
  font-size: 24px;
  float: left;
  display: inline-block;
  cursor: pointer; }
  .nav-button:hover .submenu {
    visibility: visible;
    opacity: 1; }

.submenu {
  position: absolute;
  margin: 0 0;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 22px; }
  .submenu li {
    padding: 5px 0 0 0;
    /*visibility: hidden;*/ }

.signin {
  margin: 60px 0 0 0;
  font-size: 24px;
  float: right; }

/* GENERAL LAYOUT / HOMEPAGE */
body {
  font-size: 24px; }

main {
  height: auto;
  margin: 60px 0 20px 0;
  text-transform: uppercase; }
  main a, main a:hover {
    color: white; }

.pic {
  height: 547px;
  position: relative;
  width: 100%; }

.section-title {
  position: absolute;
  left: 50%;
  top: 42%;
  margin-left: -78.5px;
  font-size: 55px;
  font-family: "brush"; }

/*PRODUCT PAGE*/
.main-pic {
  height: 550px;
  width: 80%;
  /*background-image: url(../images/shirt.jpg);*/
  background-size: cover;
  float: left; }

.product {
  margin-top: 80px; }

.size {
  margin: 40px 0 40px 0; }

.size li {
  margin: 0 0; }

.quantity {
  width: 100px;
  margin: 0 0 40px 0;
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.quantity span, #counter {
  display: inline-block;
  width: 27px;
  border: none;
  text-align: center; }

.quantity .add, .quantity .sub {
  cursor: pointer; }

.share {
  display: inline-block;
  font-size: 24px;
  margin: 20px 0 0 0; }

.share img {
  height: 35px;
  width: auto;
  padding: 0 7px 0 7px; }

.share > span {
  font-weight: bold; }

@media screen and (max-width: 640px) {
  body {
    font-size: 24px; } }
/* CLOTHES PAGE */
.page-description {
  width: 60%;
  margin: 30px auto 110px auto;
  text-align: center; }
  .page-description p {
    margin-top: 10px; }

.color-block {
  position: absolute;
  background-color: #E8B256;
  width: 70%;
  height: 200px;
  z-index: -23;
  right: 0; }

.opposite-side .color-block {
  left: 0%; }

.shirt {
  position: relative;
  width: 100%;
  margin: 0 0 100px 0;
  height: 200px;
  text-transform: lowercase;
  font-family: "gobold-thin"; }
  .shirt p {
    margin: 0 0 10px 0; }

.op {
  position: absolute;
  top: -9px;
  right: -350px;
  height: 220px; }

.po {
  position: absolute;
  top: -10px;
  left: -350px;
  height: 220px; }

.info, .info-right, .info-left {
  position: absolute;
  height: 200px;
  color: black; }
  .info h2, .info-right h2, .info-left h2 {
    margin-bottom: 5px; }

.info-right {
  right: 0;
  width: 60%;
  padding: 15px 20% 10px 0; }
  .info-right img {
    left: -310px; }

.info-left {
  width: 60%;
  padding: 15px 0 10px 23%; }
  .info-left img {
    right: -310px;
    z-index: 999; }

.price {
  width: 100%; }
  .price span {
    font-size: 34px; }

.buy {
  position: absolute;
  transition: all .25s;
  font-size: 24px !important;
  padding: 0px 15px;
  margin: 3px 0 0 20px;
  color: white;
  border: 2px solid white; }

.buy-hover, .info:hover .buy, .info-right:hover .buy, .info-left:hover .buy {
  background-color: black;
  border: 2px solid black;
  color: #E8B256; }

.info-img, .info-right img, .info-left img {
  position: absolute;
  top: -60px;
  width: 270px;
  height: auto; }

footer {
  margin: 40px 0 20px 0;
  height: auto;
  font-size: 1px;
  text-align: center;
  font-size: 22px; }
  footer a {
    color: black; }
  footer a:hover {
    color: #ada8a4; }

.footer-details {
  margin: 10px 0 0 0; }
  .footer-details a {
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px; }

.social {
  margin: 20px 0 0 0; }
  .social img {
    height: 35px;
    width: auto;
    padding: 0 10px 0 10px; }

.copyright {
  margin-top: 20px; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

p {
  margin: 0 0 0 0; }

span {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
